name: Auxilor

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]
  workflow_dispatch: # Cho phép nhấn nút build thủ công

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: "Tải mã nguồn từ Repository"
        uses: actions/checkout@v4

      - name: "Thiết lập môi trường Java (JDK 21)"
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'

      - name: "Cấp quyền thực thi cho Gradle Wrapper"
        run: chmod +x gradlew

      - name: "Tiến hành Build với Gradle"
        run: ./gradlew build

      - name: "Lưu trữ sản phẩm (Artifacts)"
        uses: actions/upload-artifact@v4
        with:
          name: EcoEnchants-Plugin
          path: build/libs/*.jar
          if-no-files-found: error
